{% extends "layout.html" %} {% block content %}
<!-- primary container -->
<div class="container">

  <!-- main -->
  <div class="main">
    <div class="scene startup">
      <img src="images/startup.jpg" alt="" class="img-responsive center-block" />
      <div class="container userAction gameStart">
        <div class="row">
          <img src="images/text/begin.png" alt="begin text" width="131" height="88" />
        </div>
        <div class="row">
          <a href="#popup" class="open-popup-link " data-effect="mfp-3d-unfold">
            <img class="btnStart" src="images/btn/btnStart.png" alt="开始游戏" width="66" height="27" />
          </a>
        </div>
      </div>
      <div id="popup" class="red-popup mfp-with-anim mfp-hide text-center ">
        <h2>游戏方法</h2>
        <p>
          第一步 选择您的性别
        </p>
        <p>
          第二步 选择五官和发型
        </p>
        <p>
          第三步 选择服装、鞋子、包包和背景，创造您的新造型
        </p>
        <p>
          第四步 许下您的新年心愿
        </p>
        <p>
          留下联系方式，
        </p>
        <p>
          关注奕欧来EUROPE微信号，
        </p>
        <p>
          就能赢取金额为1-100元不等的微信红包，
        </p>
        <p>
          更有欧洲时尚游大奖等着您
        </p>
        <p>
          我们将抽取1位幸运获奖人赴欧洲购物村，
        </p>
        <p>
          由客座造型师量身打造新造型！
        </p>
        <p>
          <img class="btnBegin" src="images/btn/btnBegin.png" alt="开始游戏" width="45" height="24" />
        </p>
      </div>
    </div>
    <div class="scene genderBuild">
      <div class="container title wow fadeInDown">
        <p class="text-center ">
          请选择你的性别
        </p>
      </div>
      <div class="genderBox">
        <div class="item" val='female'><img src="images/data/female/female.png" alt="female" /></div>
        <div class="item" val='male'><img src="images/data/male/male.png" alt="male" /></div>
      </div>
    </div>
    <div class="scene faceBuild">
      <canvas id="scene" width="340" height="570"></canvas>
      <canvas id="scene2" width="340" height="570"></canvas>
      <div class="faceOption bar">
        <!-- main type buttons -->
        <div class="ba_tabs">
          <a href="#head" val='0' class="button faceItem">Head</a>
          <a href="#fringes" val='1' class="button faceItem">Fringe</a>
          <a href="#eyebrows" val='2' class="button faceItem">Eyebrows</a>
          <a href="#eyes" val='3' class="button faceItem">Eyes</a>
          <a href="#mouths" val='4' class="button faceItem">Mouth</a>
        </div>
        <!-- end of main type buttons -->
      </div>
    </div>
    <div class="scene bodyBuild">
      <canvas id="scene3"  width="340" height="570"></canvas>
      <div class="bodyOption bar">
        <!-- main type buttons -->
        <div class="ba_tabs">
          <a href="#tops" class="button">Top</a>
          <a href="#background" val='5' class="button bodyItem">Background</a>
          <a href="#cloth" val='6' class="button bodyItem">Cloth</a>
          <a href="#foot" val='7' class="button bodyItem">Foot</a>
        </div>
        <!-- end of main type buttons -->
      </div>
    </div>
    <div class="scene msgBuild">
      <canvas id="scene4" width="340" height="570"></canvas>
      <textarea id="msg"></textarea>
      <div class="loading">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
  <!-- end of main -->
  <div class="elementSwiper female swiper-container">
    <div class="swiper-wrapper">
      <div class="screen swiper-slide">
        <div class="headSwiperType swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" val="0">femle-h-1</div>
            <div class="swiper-slide" val="1">femle-h-2</div>
            <div class="swiper-slide" val="2">femle-h-3</div>
            <div class="swiper-slide" val="3">femle-h-4</div>
            <div class="swiper-slide" val="4">femle-h-5</div>
            <div class="swiper-slide" val="5">femle-h-6</div>
          </div>
        </div>
      </div>
      <div class="screen swiper-slide">
        <div class="fringeSwiperType swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" val="0">female-F-1</div>
            <div class="swiper-slide" val="1">female-F-2</div>
            <div class="swiper-slide" val="2">female-F-3</div>
            <div class="swiper-slide" val="3">female-F-4</div>
            <div class="swiper-slide" val="4">female-F-5</div>
            <div class="swiper-slide" val="5">female-F-6</div>
            <div class="swiper-slide" val="6">female-F-7</div>
            <div class="swiper-slide" val="7">female-F-8</div>
            <div class="swiper-slide" val="8">female-F-9</div>
            <div class="swiper-slide" val="9">female-F-10</div>
            <div class="swiper-slide" val="10">female-F-11</div>
            <div class="swiper-slide" val="11">female-F-12</div>
            <div class="swiper-slide" val="12">female-F-13</div>
            <div class="swiper-slide" val="13">female-F-14</div>
            <div class="swiper-slide" val="14">female-F-15</div>
            <div class="swiper-slide" val="15">female-F-16</div>
            <div class="swiper-slide" val="16">female-F-17</div>
            <div class="swiper-slide" val="17">female-F-18</div>
            <div class="swiper-slide" val="18">female-F-19</div>
            <div class="swiper-slide" val="19">female-F-20</div>
            <div class="swiper-slide" val="20">female-F-21</div>
            <div class="swiper-slide" val="21">female-F-22</div>
            <div class="swiper-slide" val="22">female-F-23</div>
            <div class="swiper-slide" val="23">female-F-24</div>
          </div>
        </div>
      </div>
      <div class="screen swiper-slide">
        <div class="eyebrowSwiperType swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" val="0">female-EB-1</div>
            <div class="swiper-slide" val="1">female-EB-2</div>
            <div class="swiper-slide" val="2">female-EB-3</div>
            <div class="swiper-slide" val="3">female-EB-4</div>
            <div class="swiper-slide" val="4">female-EB-5</div>
            <div class="swiper-slide" val="5">female-EB-6</div>
            <div class="swiper-slide" val="6">female-EB-7</div>
            <div class="swiper-slide" val="7">female-EB-8</div>
            <div class="swiper-slide" val="8">female-EB-9</div>
            <div class="swiper-slide" val="9">female-EB-10</div>
            <div class="swiper-slide" val="10">female-EB-11</div>
            <div class="swiper-slide" val="11">female-EB-12</div>
          </div>
        </div>
      </div>
      <div class="screen swiper-slide">
        <div class="eyeSwiperType swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" val="0">female-E-1</div>
            <div class="swiper-slide" val="1">female-E-2</div>
            <div class="swiper-slide" val="2">female-E-3</div>
            <div class="swiper-slide" val="3">female-E-4</div>
            <div class="swiper-slide" val="4">female-E-5</div>
            <div class="swiper-slide" val="5">female-E-6</div>
            <div class="swiper-slide" val="6">female-E-7</div>
            <div class="swiper-slide" val="7">female-E-8</div>
            <div class="swiper-slide" val="8">female-E-9</div>
            <div class="swiper-slide" val="9">female-E-10</div>
            <div class="swiper-slide" val="10">female-E-11</div>
            <div class="swiper-slide" val="11">female-E-12</div>
          </div>
        </div>
      </div>
      <div class="screen swiper-slide">
        <div class="mouthSwiperType swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" val="0">female-M-1</div>
            <div class="swiper-slide" val="1">female-M-2</div>
            <div class="swiper-slide" val="2">female-M-3</div>
            <div class="swiper-slide" val="3">female-M-4</div>
            <div class="swiper-slide" val="4">female-M-5</div>
            <div class="swiper-slide" val="5">female-M-6</div>
            <div class="swiper-slide" val="6">female-M-7</div>
            <div class="swiper-slide" val="7">female-M-8</div>
            <div class="swiper-slide" val="8">female-M-9</div>
            <div class="swiper-slide" val="9">female-M-10</div>
            <div class="swiper-slide" val="10">female-M-11</div>
            <div class="swiper-slide" val="11">female-M-12</div>
          </div>
        </div>
      </div>
      <div class="screen swiper-slide">
        <div class="backgroundSwiperType swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" val="0">female-Background-1</div>
            <div class="swiper-slide" val="1">female-Background-2</div>
            <div class="swiper-slide" val="2">female-Background-3</div>
            <div class="swiper-slide" val="3">female-Background-4</div>
            <div class="swiper-slide" val="4">female-Background-5</div>
            <div class="swiper-slide" val="5">female-Background-6</div>
          </div>
        </div>
      </div>
      <div class="screen swiper-slide">
        <div class="clothSwiperType swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" val="0">female-cloth-1</div>
            <div class="swiper-slide" val="1">female-cloth-2</div>
            <div class="swiper-slide" val="2">female-cloth-3</div>
            <div class="swiper-slide" val="3">female-cloth-4</div>
            <div class="swiper-slide" val="4">female-cloth-5</div>
            <div class="swiper-slide" val="5">female-cloth-6</div>
          </div>
        </div>
      </div>
      <div class="screen swiper-slide">
        <div class="footSwiperType swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" val="0">female-footer-1</div>
            <div class="swiper-slide" val="1">female-footer-2</div>
            <div class="swiper-slide" val="2">female-footer-3</div>
            <div class="swiper-slide" val="3">female-footer-4</div>
            <div class="swiper-slide" val="4">female-footer-5</div>
            <div class="swiper-slide" val="5">female-footer-6</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="elementSwiper male swiper-container">
    <div class="swiper-wrapper">
      <div class="screen swiper-slide">
        <div class="headSwiperType swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" val="0">femle-h-1</div>
            <div class="swiper-slide" val="1">femle-h-2</div>
            <div class="swiper-slide" val="2">femle-h-3</div>
            <div class="swiper-slide" val="3">femle-h-4</div>
            <div class="swiper-slide" val="4">femle-h-5</div>
            <div class="swiper-slide" val="5">femle-h-6</div>
          </div>
        </div>
      </div>
      <div class="screen swiper-slide">
        <div class="fringeSwiperType swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" val="0">female-F-1</div>
            <div class="swiper-slide" val="1">female-F-2</div>
            <div class="swiper-slide" val="2">female-F-3</div>
            <div class="swiper-slide" val="3">female-F-4</div>
            <div class="swiper-slide" val="4">female-F-5</div>
            <div class="swiper-slide" val="5">female-F-6</div>
            <div class="swiper-slide" val="6">female-F-7</div>
            <div class="swiper-slide" val="7">female-F-8</div>
            <div class="swiper-slide" val="8">female-F-9</div>
            <div class="swiper-slide" val="9">female-F-10</div>
            <div class="swiper-slide" val="10">female-F-11</div>
            <div class="swiper-slide" val="11">female-F-12</div>
            <div class="swiper-slide" val="12">female-F-13</div>
            <div class="swiper-slide" val="13">female-F-14</div>
            <div class="swiper-slide" val="14">female-F-15</div>
            <div class="swiper-slide" val="15">female-F-16</div>
            <div class="swiper-slide" val="16">female-F-17</div>
            <div class="swiper-slide" val="17">female-F-18</div>
            <div class="swiper-slide" val="18">female-F-19</div>
            <div class="swiper-slide" val="19">female-F-20</div>
            <div class="swiper-slide" val="20">female-F-21</div>
            <div class="swiper-slide" val="21">female-F-22</div>
            <div class="swiper-slide" val="22">female-F-23</div>
            <div class="swiper-slide" val="23">female-F-24</div>
          </div>
        </div>
      </div>
      <div class="screen swiper-slide">
        <div class="eyebrowSwiperType swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" val="0">female-EB-1</div>
            <div class="swiper-slide" val="1">female-EB-2</div>
            <div class="swiper-slide" val="2">female-EB-3</div>
            <div class="swiper-slide" val="3">female-EB-4</div>
            <div class="swiper-slide" val="4">female-EB-5</div>
            <div class="swiper-slide" val="5">female-EB-6</div>
            <div class="swiper-slide" val="6">female-EB-7</div>
            <div class="swiper-slide" val="7">female-EB-8</div>
            <div class="swiper-slide" val="8">female-EB-9</div>
            <div class="swiper-slide" val="9">female-EB-10</div>
            <div class="swiper-slide" val="10">female-EB-11</div>
            <div class="swiper-slide" val="11">female-EB-12</div>
          </div>
        </div>
      </div>
      <div class="screen swiper-slide">
        <div class="eyeSwiperType swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" val="0">female-E-1</div>
            <div class="swiper-slide" val="1">female-E-2</div>
            <div class="swiper-slide" val="2">female-E-3</div>
            <div class="swiper-slide" val="3">female-E-4</div>
            <div class="swiper-slide" val="4">female-E-5</div>
            <div class="swiper-slide" val="5">female-E-6</div>
            <div class="swiper-slide" val="6">female-E-7</div>
            <div class="swiper-slide" val="7">female-E-8</div>
            <div class="swiper-slide" val="8">female-E-9</div>
            <div class="swiper-slide" val="9">female-E-10</div>
            <div class="swiper-slide" val="10">female-E-11</div>
            <div class="swiper-slide" val="11">female-E-12</div>
          </div>
        </div>
      </div>
      <div class="screen swiper-slide">
        <div class="mouthSwiperType swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" val="0">female-M-1</div>
            <div class="swiper-slide" val="1">female-M-2</div>
            <div class="swiper-slide" val="2">female-M-3</div>
            <div class="swiper-slide" val="3">female-M-4</div>
            <div class="swiper-slide" val="4">female-M-5</div>
            <div class="swiper-slide" val="5">female-M-6</div>
            <div class="swiper-slide" val="6">female-M-7</div>
            <div class="swiper-slide" val="7">female-M-8</div>
            <div class="swiper-slide" val="8">female-M-9</div>
            <div class="swiper-slide" val="9">female-M-10</div>
            <div class="swiper-slide" val="10">female-M-11</div>
            <div class="swiper-slide" val="11">female-M-12</div>
          </div>
        </div>
      </div>
      <div class="screen swiper-slide">
        <div class="backgroundSwiperType swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" val="0">female-Background-1</div>
            <div class="swiper-slide" val="1">female-Background-2</div>
            <div class="swiper-slide" val="2">female-Background-3</div>
            <div class="swiper-slide" val="3">female-Background-4</div>
            <div class="swiper-slide" val="4">female-Background-5</div>
            <div class="swiper-slide" val="5">female-Background-6</div>
          </div>
        </div>
      </div>
      <div class="screen swiper-slide">
        <div class="clothSwiperType swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" val="0">female-cloth-1</div>
            <div class="swiper-slide" val="1">female-cloth-2</div>
            <div class="swiper-slide" val="2">female-cloth-3</div>
            <div class="swiper-slide" val="3">female-cloth-4</div>
            <div class="swiper-slide" val="4">female-cloth-5</div>
            <div class="swiper-slide" val="5">female-cloth-6</div>
          </div>
        </div>
      </div>
      <div class="screen swiper-slide">
        <div class="footSwiperType swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide" val="0">female-footer-1</div>
            <div class="swiper-slide" val="1">female-footer-2</div>
            <div class="swiper-slide" val="2">female-footer-3</div>
            <div class="swiper-slide" val="3">female-footer-4</div>
            <div class="swiper-slide" val="4">female-footer-5</div>
            <div class="swiper-slide" val="5">female-footer-6</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="arrow prevStep"></div>
  <div class="arrow nextStep"></div>
  <!-- aside -->
  <div class="aside">
    <div id="generate">
      <button class="button">Generate Image</button>
    </div>
  </div>
  <!-- end of aside -->
</div>



<!-- end of primary container -->
<div class="result"></div>

{% endblock %}
