{% extends "layout.html" %} {% block content %}
<!-- primary container -->
<div class="container">

  <!-- main -->
  <div class="main">
    <div class="scene share">

      <img src="images/brand.png" alt="" class="brand center-block" width="221" height="28" />

      <div class="img-wrapper center-block">
        <img src="" id="share_result" alt="" />
      </div>
      <div class="center-block share-text">
        <button type="button" class="btn btn-default pull-right playHint" aria-label="Left Align">
          开始玩
        </button>
        <p>
          尊宠奢华新风尚<br>
          玩“新年焕新装”游戏<br>
          赢奕欧来苏州购物村精致礼遇

        </p>
      </div>

    </div>
  </div>
  <!-- end of main -->
</div>



<!-- end of primary container -->
<div class="result"></div>

{% endblock %}
