{% extends "layout.html" %} {% block content %}
<!-- primary container -->
<div class="container">

  <!-- main -->
  <div class="main">
    <div class="scene share">

      <img src="images/brand.png" alt="" class="brand center-block" width="221" height="28" />

      <div class="img-wrapper center-block">
        <img src="" id="share_result" alt="" />
      </div>
      <div class="center-block share-text">
        <button type="button" class="btn btn-default pull-right playHint" aria-label="Left Align">
          开始玩
        </button>
        <p style="font-size:12px;">
          喜欢我的新年造型吗？<br>
还不快来设计你的新形象！
        </p>
      </div>

    </div>
  </div>
  <!-- end of main -->
</div>



<!-- end of primary container -->
<div class="result"></div>

{% endblock %}
