<ul>
  <li>
    <a href="demo-startup.html">startup</a>
  </li>
  <li>
    <a href="demo-gender.html">gender</a>

  </li>
  <li>
    <a href="demo-facebuild.html">face build</a>

  </li>
  <li>
    <a href="demo-suitbuild.html">suit build</a>
  </li>
  <li>
    <a href="demo-cloth.html">cloth choose</a>
  </li>
  <li>
    <a href="demo-bag.html">bag</a>
  </li>
  <li>
    <a href="demo-bag-popup.html">bag details</a>
  </li>
  <li>
    <a href="demo-wish.html">new year wish</a>
  </li>
  <li>
    <a href="demo-qr.html">end with none offical account</a>
  </li>
  <li>
    <a href="demo-qr-2.html">end with none offical account 2</a>
  </li>
</ul>
